        html,body{
            margin:0;
            padding:0;
            font-family: Arial, Helvetica, sans-serif;
            background-color:darkslategrey;
            width:100%;
        }

        #leftToolBar, #rightToolBar{
            width:15%;
            height:800px;
            background-color:darkgray;
            text-align: center;
            margin:0;
        }
        #leftToolBar{
            position:fixed;
            left:0;
            top:0;
            
        }
        #resumeContainer{
            width:8.5in; 
            /*height:11in;*/
            height:15in;
            background-color:white;
            margin:0 auto !important;
            padding:0.25in 1in 0.25in 1in;
        }
        #headerContainer{
            width:100%;
        }
        .headerItem{
            width:100%;
            display:block;
        }

        .col-3{
            width:33%;
            float:left;
            margin:0;
        }
        .col-2{
            width:50%;
            float:left;
            margin:0 auto;
            margin-bottom:10px;
        }
        .section-main{
            width:80%;
            float:left;
            padding-left:2px;
        }
        .section-aside{
            position:relative;
            width:15%;
            float:right;
            text-align:right;
            margin:0;
            padding:0;
        }
        h3{
            clear:both;
        }
        h1,h2{
            line-height: 0.25em;
        }
        h3{
            padding-top:2px;
        }
        p{
            margin:0 0 .3em 0;
        }
        ul{
            margin-top:0;
        }
        
       